<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sample.sampleMapper">
	<!-- 添加考试(需要传入教师id) -->
	<insert parameterType="pd" id="insertTest">
		insert into
		test(testname,starttime,auto_begin,t_id) values(#{testname
		},#{starttime },#{auto_begin},#{t_id })
	</insert>

	<!-- 更新添加考试试卷（需要传入考试id） -->
	<update parameterType="pd" id="updateaddfile"> update teacher SET testfile=
		#{test_file }, where testid=#{testid}
	</update>

	<!-- 1查询参加考试人数 -->
	<select resultType="pd" parameterType="String"
		id="selectStudent"> SELECT count(stuid)
		from student where test_id=#{test_id}
	</select>

	<!-- 2查询登录人数(调用方法获取ip是否为空) -->
	<select resultType="pd" parameterType="String"
		id="selectLoginStudent">
		SELECT count(stuid)
		from student where ip !=null
		and
		test_id=#{test_id}
	</select>

	<!-- 3查询提交答案的个数(调用方法获取testresult是否为空) -->
	<select resultType="pd" parameterType="pd"
		id="selectSubmitStudent">
		SELECT
		* from student where testresult!=null
		and test_id=#{test_id}
	</select>
	<!-- 查找学生(通过学号姓名班级) -->
	<select resultType="pd" parameterType="pd"
		id="selectinfoStudent">
		SELECT
		* from student where test_id=#{test_id}
		<if test="s_stunum != null and s_stunum != ''">and stunum=#{s_stunum}</if>
		<if test="s_stuname != null and s_stuname != ''">and stuname=#{s_stuname}</if>
		<if test="s_stuclass != null and s_stuclass != ''">and stuclass=#{s_stuclass}</if>
	</select>

	<!-- 查找学生(通过ip) -->
	<select resultType="pd" parameterType="String"
		id="selectStudentByIp">
		SELECT
		* from student where test_id=#{test_id}
		<if test=" ip !=null and ip !=''">and ip=#{s_ip}</if>
	</select>

	<!-- 添加通知（需要考试id） -->
	<insert parameterType="pd" id="insertTestmsg">
		insert into testmsg (msg,testid)
		values(#{msg },#{testid})
	</insert>

	<!-- 删除通知(传入通知id) -->
	<delete parameterType="String" id="deleteTestmsg">
		DELETE FROM testmsg WHERE
		testmsg_id=#{ testmsg_id }
	</delete>

	<!-- 添加学生(传入stunum，stuname，stuclass) -->
	<insert parameterType="pd" id="insertStudent">
		insert into student
		(stunum,stuname,stuclass)
		values(#{s_stunum},#{s_stuname},#{s_stuclass})
	</insert>



</mapper>