body,html{
    margin: 0;
    padding: 0;
}
a:hover{
    text-decoration: none;
}
#topcontain{
    width: 100%;
    background: #393D49;
    height: 60px;
}
#mainlogo{
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    color: beige;
    display: inline-block;
    position: absolute;
    
}
#topsec{
    width: 40%;
    position: absolute;
    left: 170px;
    
}
#toprig{
    right: 0;
    position: absolute;
    width: 32%;
}
.bccolor{
    background-color: #eeeeee;
    margin: 0 15px;
    min-height: 400px;
}
.logo{
    float: left;
    width: 100px;
    height: 100px;
    
    text-align: center;
    line-height: 100px;
}/*教师端首页图标*/
.logotitle{
    float: left;
    height: 100px;
    line-height: 100px;
    font-weight: bolder;
}
.partone{
    display: inline-block;
}
.stip{
   display: inline-block;
   margin: 20px;
}/*小标题*/
.sol{
    margin: 10px;
}
.bol>li{
    margin: 5px 0 5px 15px ;
    width: 300px;
    
}
/*表格页面*/
.hat{
    background-color: #efefef;
    height: 90px;
}
.hat-1{
    height: 40px;
}
.hat-1>h3{
    padding-top: 10px;
    width: 120px;
    padding-left: 15px;
}
.hat-2{
    height: 30px;
    padding-left: 15px;
}
.tablectrl{
    width: 100%;
    
}
.tablectrl>td{
    font-weight: 500;
}
.textline{
    width: 150px;
    height: 25px;
}
/*所有的大头*/
.bighat{
    height: 80px;
    width: 100%;
   
}
.bighat>h2{
    float: left;
    height: 80px;
    line-height: 80px;
    font-weight: bold;
}
.tecicon{
    width: 80px;
    height: 80px;
    background-color: burlywood;
    float: left;
}
/*考中空界面*/
.errorbox{
    width: 400px;
    height: 200px;
    position: relative;
    top: 150px;
    left: 50%;
    margin-left: -200px;
    background-color:#CCCCD9;
    border-radius: 10px;
}
.errorbox>h3{
    position: absolute;
    top: 10px;
    left: 5px;
}
.boxin{
    position: absolute;
    left: 20px;
    top: 50px;
    width: 350px;
    height: 130px;
    background-color: #efefef;
}
.errtitle{
    position: absolute;
    left: 10px;
    top: 20px;
}
.errinfo{
    background-color: #000;
    color: white;
    position: absolute;
    width: 300px;
    top: 60px;
    left: 20px;
    text-align: center;
    border-radius: 10px;
    height: 30px;
    line-height: 30px;
}
/*考试管理modify设置页面*/
.modifyall{
    width: 100%;
    margin: 20px 0;
    background: #EEEEEE;
    min-height: 100px;
}
.newh3{
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    
}
.newtext{
    padding-left: 10px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 10px;
}
/*按钮位置微调*/
.po{
    margin-left: 10px;
}
/*考试情况总结*/
.summary{
    border-radius: 10px;
    width: 100%;
    display: inline-block;
    background-color: #555555;
    margin-top: 15px;
}
.bigtext{
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: inline-block;
}
.colowh{
    color: white;
}
/*添加学生*/
.jointext{
    width: 200px;
    height: 30px;
    border-color: 1px solid #999999;
}
.test_after_op{
    float:left;
   padding: 5px 13px;
   text-decoration: none;
   margin-right: 5px;
}
.test_afterlogos{
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-left: 2px;
}
.hide{
    display: none;
}