<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user.userMapper">
	<!-- 学生查询 -->
	<select id="getStudent" parameterType="pd" resultType="pd">
		SELECT *
	</select>

	<!-- 教师查询 -->
	<select id="getTeacher" parameterType="pd" resultType="pd">
		SELECT *
		from teacher where tname=#{t_name} and password = #{t_password}
	</select>

	<!-- 管理员查询 -->
	<select id="getAdmin" parameterType="pd" resultType="pd">
		SELECT *
		from teacher
	</select>
</mapper>