<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user.userMapper">
	<select id="getTeacher" parameterType="pd" resultType="pd">
		SELECT * teacher
		<where>
			<if test="pd.tname = null and pd.tname != ''">
				tname=#{username}
			</if>
			<if test="pd.password = null and pd.password != ''">
				and password=#{password}
			</if>
			and 1=1;

		</where>
	</select>
</mapper>