<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.adminMapper">
	<!-- 添加教师： -->
	<insert parameterType="pd" id="insertTeacher">
		insert into
		teacher(tname,password,fullname,admin_signal)
		values(#{t_name},#{t_password},#{t_fullname},#{t_admin_signal})
	</insert>

	<!-- 删除教师(需要传入教师id) -->
	<delete parameterType="String" id="deleteTeacher">
		DELETE FROM teacher WHERE
		t_id=#{t_id}
	</delete>

	<!-- 更新教师信息 (需要传入教师id) -->
	<update parameterType="pd" id="updateTeacher">
		update teacher SET tname=
		#{t_name},password = #{t_password}, fullname=
		#{t_fullname},
		admin_signal = #{t_admin_signal} where
		tnum=#{teacher_id}
	</update>

	<!-- 更新系统配置信息 -->
	<update parameterType="pd" id="updateSystem">
		update system SET time_interval=
		#{ sys_time_interval },page_record =
		#{sys_page_record}, test_maxtime=
		#{sys_test_maxtime}, file_minsize =
		#{sys_ file_minsize },
		file_maxsize=#{sys_ file_maxsize } ,tea_power
		=#{sys_tea_power}
	</update>

	<!-- 重置密码(需要传入教师id) -->
	<update parameterType="pd" id="updateTeacherpwd">
		update teacher SET password =
		#{t_password}, where tnum=#{teacher_id}
	</update>


</mapper>